div {
    border: 1px solid red;
    margin: 5px;
    padding: 6px;
    
}

.menu {
    background-color: aquamarine;
    /* position: absolute; */
    display: inline-block;
    width: 30%;

}

.topo {
    background-color: wheat;
    height: 35px;
    position: fixed;
    width: 100%;
    font-size: 30px;
    text-shadow: 5px 5px 2px violet;
}

*{
    font-family: "Sevillana", cursive;

}

.principal {
    background-image: url(../../Logo\ elaboratinha.png);
    display: flex;
    width: 60%;
    margin-top: 60px;
    flex-wrap: wrap;
    flex-direction: row;
    height: 300px;
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 30px 0px green;
}

.caixa {
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: crosshair;

}

.caixa:hover{
    background-color: khaki;
}